@font-face {
  font-family: Roboto;
  src: url('../../shared/assets/font/Roboto-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../../shared/assets/font/Roboto-Bold.ttf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: BeauSans;
  src: url('../../shared/assets/font/Roboto-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url('../../shared/assets/font/Roboto-BlackItalic.ttf');
  font-style: italic;
  font-weight: bold;
}
