@import "reset";
@import "fonts";
@import "src/shared/styles/mixins";
@import "variables/global";
@import "themes/default";
@import "themes/dark";

.app {
  font: var(--font-m);
  background-color: var(--bg-collor);
  min-height: 100vh;
  @include textColorTransform(var(--primary-collor));
}

.layout_wrapper {
  display: flex;
}

.content_wrapper {
  width: var(--content-width);
  margin: 0 auto;
}
