@import "src/shared/styles/mixins";

.LanguageSwitcher {
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 5px;
  transition: border var(--common-transition);

  &:hover {
    border: 1px solid var(--border-color);
  }
}

.switcher {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ico {
  fill: var(--icon-fill);
}

.lang {
  @include textColorTransform(var(--primary-collor));
}

