@import "src/shared/styles/mixins";

.LanguageSwitcher {
  margin-left: auto;
}

.switcher {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ico {
  fill: var(--icon-fill);
}

.lang {
  @include textColorTransform(var(--primary-collor));
}

