@import "src/shared/styles/mixins";

.LanguageSwitcher {
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 5px;
  transition: border var(--common-transition);

  .ico {
    @include icoStandardSettings;
  }

  &:hover {
    border: 1px solid var(--border-color);

    .ico {
      fill: var(--icon-fill-hover);
    }
  }
}

.switcher {
  display: flex;
  align-items: center;
  gap: 5px;
}

.lang { @include textColorTransform(var(--primary-collor)); }

