@mixin textColorTransform($color) {
  transition: color var(--common-transition);
  color: $color;
}

@mixin icoStandardSettings() {
  transition: fill var(--common-transition);
  fill: var(--icon-fill)
}
