.app.dark {
  --bg-collor: #343434;
  --navbar-bg-color: #1f1f1f;

  --primary-collor: #7c7c7c;
  --secondary-collor: #565656;

  --link-color: #6ba8ff;

  --border-color: rgba(155, 155, 155, 0.5);

  --icon-fill: #f1f1f1;
}
